/* line 4, /Users/yoong/CodenDesign/test/apptest/app/assets/stylesheets/home.scss */
.signinbtn {
  display: block;
  width: 400px;
  height: 100px;
  background-image: url("https://i.imgur.com/GagMr90.png");
  background-repeat: no-repeat;
  background-position: center;
}

/* line 15, /Users/yoong/CodenDesign/test/apptest/app/assets/stylesheets/home.scss */
.sibox {
  position: absolute;
  width: 100%;
  left: -10%;
  margin-top: 20px;
}

/* line 21, /Users/yoong/CodenDesign/test/apptest/app/assets/stylesheets/home.scss */
.lpfs {
  margin-top: auto;
  position: absolute;
  left: 5%;
  bottom: 30%;
  width: 100px;
  text-align: center;
  font-family: sans-serif;
  font-size: 150px;
  color: white;
  line-height: 130px;
}

/* line 34, /Users/yoong/CodenDesign/test/apptest/app/assets/stylesheets/home.scss */
.lpbd {
  border: solid;
  width: 100%;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

 html, body
 {
     height: 100%;
 }
#map{
  height: 90vh;
}
#signindiv{
  width: 100%;
  height: 35px;
  font-family: sans-serif;
  font-size: 20px;
  line-height: 38px;
  margin: auto;
  text-align: center;
  color: white;
  background-color: green;
}
.searchbutton{
  width: 50px;
  height: 40px;
  padding: 0px;
  margin-top: 6px;
  margin-left: 8px;
  margin-right: 0px;
  margin-bottom: 3px;
  background-image: url("https://i.imgur.com/8WZEVps.png");
  background-color: none;
  background-repeat: no-repeat;
  border: none;
}
.searchbutton:hover{
  background-image: url("https://i.imgur.com/LO6ny87.png");
}

.signoutbtn{
  width: 50px;
  height: 40px;
  padding: 0px;
  margin-top: 6px;
  margin-left: 8px;
  margin-right: 0px;
  margin-bottom: 3px;
  background-image: url("https://i.imgur.com/VZupEby.png");
  background-size: 32px;
  background-repeat: no-repeat;
  border: none;
}
.signoutbtn:hover{
  background-image: url("https://i.imgur.com/iZx5Wuh.png");
}
.lpbg{
  width:100%;
  height:100vh;
  padding: 0px;
  margin: 0px;
  background-image: url("https://i.imgur.com/kAJtbHH.jpg");
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
}
