// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.signinbtn{
  display:block;
  width: 300px;
  height: 90px;
  background-image: url("https://i.imgur.com/GagMr90.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.sibox{
  position:absolute;
  width: 100%;
  left: -10%;
  margin-top: 5px;
}
.lpfs{
  margin-top:auto;
  position: absolute;
  left: 10%;
  bottom: 40%;
  width: 100px;
  text-align: center;
  font-family: sans-serif;

  font-size: 100px;
  color: white;
  line-height: 80px;
}
.lpbd{
  border:solid;
  width: 100%;
}
